@model DevBridge.Templates.WebProject.Web.Logic.Models.Article.ArticleViewModel

<h2>@Model.Title</h2>
<div>
    @Model.Text
</div>
<div>
    Created By: @Model.User.Name
</div>
<div>
    @Html.ActionLink("Edit article","Edit",new{id = Model.Id})
</div>
<div>
    @Html.ActionLink("Delete article","Delete",new{id = Model.Id})
</div>
